* {
    margin:0;
    padding:0;
    box-sizing: border-box;

}
body          { 
    font-family: Arial, Helvetica, sans-serif; 
    background-color: black; 
    color: white; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width:100%;
}
a { 
    color: magenta; 
}
#stats {
    border: 2px solid lime; 
}
#controls     { 
    flex:2;
    font-size: 0.5em; 
}
#controls th  { 
    text-align: right; 
    vertical-align: middle; 
}
#instructions { 
    font-size: 0.7em;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    flex:1;
    border: 1px solid black; 
    box-shadow: 0 0 5px lime; 
}
#containerStats {
    display: flex;
    align-items: center;
    justify-content: center;
    height:25%;
    width:100%;
    padding:10px;
}
#racer { 
    position: relative; 
    height: 69%;  
    border: 2px solid rgb(44, 44, 44); 
}
#canvas { 
    width: 100%; 
    height: 100%; 
    background-color: black; 
}
#fps {
    display:flex;
    align-items: center;
    gap:10px;
}
/* #mute { 
    background-position: 0px 0px; 
    width: 32px; 
    height: 32px; 
    background: url(images/mute.png); 
    display: inline-block; 
    cursor: pointer; margin-left: 20em; 
}
#mute.on { 
    background-position: -32px 0px; 
} */

/**************************************************/
/* rudimentary heads up display */
/**************************************************/

#hud {
    display:flex;
    align-items: center; 
    justify-content: space-between; 
    /* position: absolute; 
    z-index: 1;  */
    width: 100%; 
    height:6%;
    /* padding: 5px 0;  */
    font-family: Verdana, Geneva, sans-serif; 
    font-size: 0.8em; color: black; 
    border-bottom: 2px solid black; 
    background-color: aliceblue;
}
#hud .hud { 
    background-color: rgba(255,255,255,0.6); 
    flex:1;
    display: flex;
    align-items: center;
    justify-content: center;
    height:100%;
    border: 1px solid black; 
    transition-property: background-color; 
    transition-duration: 2s; 
    -webkit-transition-property: background-color; 
    -webkit-transition-duration: 2s; 
    -moz-user-select: none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

#hud #last_lap_time    { display: none;  }
#hud #fast_lap_time, #hud #remaining_time    { text-align: center; transition-property: background-color; transition-duration: 2s; -webkit-transition-property: background-color; -webkit-transition-duration: 2s; }
#hud .value            { color: black; font-weight: bold; }
#hud .fastest          { background-color: rgba(255,215,0,0.5); }
#hud .magenta       { background-color: lawngreen; }

@keyframes anim-heartbeat {
    0%   {font-size: 100%;}
    /* 25%  {font-size: 100%;}
    50%  {font-size: 100%;} */
    100% {font-size: 100%;}
}

.warninglow {
    color: red;
    font-weight: bold;
    animation-name: anim-heartbeat;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

/* Fullscreen mode (on double click, managed in JS */
#canvas:fullscreen {
	width: auto;
    height: 100%; /* height is smaller than width, so resize by height and adapt width automatically */
}
#canvas:-webkit-full-screen {
	width: auto;
    height: 100%;
}

#canvas:-moz-full-screen {
	width: auto;
    height: 100%;
}

#canvas:-ms-fullscreen {
    width: auto;
    height: auto;
    margin: auto;
}

/* Mobile gamepad */
/* #gamepad {
    
} */
.gamepad-button {
    background: rgba(255, 255, 255, 0.1);
    display:flex;
    align-items: center;
    justify-content:center;
   -moz-user-select: none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
}
.gamepad-button span {
    display: inline-block;
    vertical-align: middle;
}
.gamepad-button:active {
     background: rgba(255, 255, 255, 0.2); 
}

#gamepad-left { 
    position:absolute;
    top:0;
    bottom:20%;
    left:0;
    width: 50%;
    z-index: 99;
}
#gamepad-right { 
    position:absolute;
    top:0;
    bottom:20%;
    right:0;
    width: 50%;
    z-index: 99;
}

#gamepad-down { 
    position:absolute;
    bottom: 0;
    top: 80%;
    left: 0;
    width: 50%;
    z-index: 99;
} 
#gamepad-up { 
    position:absolute;
    bottom:0;
    top:80%;
    right:0;
    width: 50%;
    z-index: 99;
}
#gamepad-turbo {
    position: absolute;
    top:20px;
    left:20px;
    background-color: rgba(255, 255, 255, 0.4);
    width:70px;
    height:70px;
    border-radius: 50%;
    cursor:pointer;
    z-index: 100;
}
#gamepad-turbo img {
    width:70px;
    height:70px;
}
#gamepad-turbo:active {
    background: lawngreen; 
}


@media screen and (max-width:867px) {
    #instructions { 
        display:none;
    }
    #controls {
        flex:initial;
    }
    
}
@media screen and  (min-width:600px) {
    #gamepad {
        display:none;
    }
}